.navbar-logo{
    height: 1000px;
}

body {
    background-color: #b3c6da;
    color: #333;
}

@font-face {
    font-family: 'Flavors-Regular';
    src: url('/assets/fonts/Flavors-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-custom{
    font-family: 'Flavors-Regular';
}
